/**
 * All your custom CSS should go into this file
 */

html, body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

body {
	padding-top: 70px;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

#footer {
	height: 60px;
	background-color: #f4f4f4;
}

.brand-image {
	width: 35px;
	height: 35px;
	background-color: #2980b9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 34px;
	color: #fff;
	text-align: center;
}

.navbar-brand {
	float: left;
	padding: 8px 15px 5px 5px;
	font-size: 18px;
	line-height: 30px;
}

.container.right-sidebar {
	position: fixed;
	top: 70px;
	width: 263px;
}

.container .credit {
	margin: 20px 0;
  font-size: 12px;
}

.navbar-reddit {
  background-color: #f4f4f4;
  border-color: #e7e7e7;
}

.navbar-reddit .navbar-brand {
  color: #369;
}

.navbar-reddit .navbar-brand:hover,
.navbar-reddit .navbar-brand:focus {
  color: #369;
  text-decoration: none;
  background-color: transparent;
}

.navbar-reddit .navbar-text {
  color: #777777;
}

.navbar-reddit .navbar-nav > li > a {
  color: #369;
}

.navbar-reddit .navbar-nav > li > a:hover,
.navbar-reddit .navbar-nav > li > a:focus {
  color: #369;
  text-decoration: underline;
  background-color: transparent;
}

.navbar-reddit .navbar-nav > li > a.dropdown-toggle:hover,
.navbar-reddit .navbar-nav > li > a.dropdown-toggle:focus {
	text-decoration: none;
}

.navbar-reddit .navbar-nav > .active > a,
.navbar-reddit .navbar-nav > .active > a:hover,
.navbar-reddit .navbar-nav > .active > a:focus {
  color: #FF4500;
  background-color: #fcfcfc;
}

.navbar-reddit .navbar-nav > .disabled > a,
.navbar-reddit .navbar-nav > .disabled > a:hover,
.navbar-reddit .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-reddit .navbar-toggle {
  border-color: #dddddd;
}

.navbar-reddit .navbar-toggle:hover,
.navbar-reddit .navbar-toggle:focus {
  background-color: #dddddd;
}

.navbar-reddit .navbar-toggle .icon-bar {
  background-color: #cccccc;
}

.navbar-reddit .navbar-collapse,
.navbar-reddit .navbar-form {
  border-color: #e6e6e6;
}

.navbar-reddit .navbar-nav > .dropdown > a:hover .caret,
.navbar-reddit .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}

.navbar-reddit .navbar-nav > .open > a,
.navbar-reddit .navbar-nav > .open > a:hover,
.navbar-reddit .navbar-nav > .open > a:focus {
  color: #FF4500;
  background-color: #fcfcfc;
}

.navbar-reddit .navbar-nav > .open > a .caret,
.navbar-reddit .navbar-nav > .open > a:hover .caret,
.navbar-reddit .navbar-nav > .open > a:focus .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

.navbar-reddit .navbar-nav > .dropdown > a .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}

@media (max-width: 767px) {
  .navbar-reddit .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-reddit .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-reddit .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-reddit .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-reddit .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-reddit .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-reddit .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-reddit .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-reddit .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

.navbar-reddit .navbar-link {
  color: #777777;
}

.navbar-reddit .navbar-link:hover {
  color: #333333;
}

.panel-comments {
  padding: 15px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.panel-heading {
	font-size: 2em;
}

.nsfw {
  border-color: #e74c3c !important;
}

.panel-reddit {
	border-color: #dddddd;
	line-height: 1.4;
  margin-bottom: 40px;
}

.panel-reddit > .panel-body {
	font-family: 'Roboto';
	font-size: 1.0em;
}

.panel-reddit > .panel-heading {
  color: #333333;
  border: 0;
}

.panel-reddit > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}

.panel-reddit > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}

.sidebar {
  margin-bottom: 20px;
}

.sidebar > .panel-heading {
  font-size: 1.4em;
}

.sidebar > .panel-body {
  max-height: 450px;
  overflow: auto;

}

.extracted-text {
  min-height: 100px;
  position: relative;
}

.extracted-text .showmore {
  margin-top: 10px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.media-body {
  font-family: 'Roboto', 'Montserrat', Arial;
  font-size: 14px;
}

.media-wrapper {
    position: relative;
    margin: 0 auto;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.media-wrapper iframe,
.media-wrapper object,
.media-wrapper embed,
.media-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.upvote-wrapper {
  position: relative;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    right: auto;
    left: 50%;
    width: 65%;
    padding-top: 80px;
    padding-bottom: 30px;
  }
}

.navbar-fixed-top.navbar-reddit {
  top: 0;
  z-index: 1050;
}

@media (max-width: 992px) {
  .navbar-reddit {
    opacity: 0.85;
  }
}

@media (max-width: 767px) {
  .media-object {
    display: none;
  }

  .media-list > .media > .media-body {
    margin-left: 0;
  }

  .media-body {
    margin-left: 35px;
  }

  .panel {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0; 
    border-left: none;
    border-right: none;
  }
}